.posts {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: fit-content;
  margin: 0 auto;

  .create-post {
    background-color: white;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      padding: 0.5rem 1rem;
      width: 90%;
      border-radius: 0.5rem;
      border: 1px solid rgba(44, 139, 248, 0.461);
      font-size: 1rem;
    }
    button {
      background-color: rgb(44, 139, 248);
      color: white;
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      &:hover {
        background-color: rgb(29, 105, 191);
      }
    }
  }

  h1 {
    color: lightgrey;
    margin-bottom: -0.8rem;
  }
}
