.post {
  background-color: white;
  flex-direction: column;
  overflow: hidden;
  width: 37rem;
  height: 45rem;
  margin: 0 auto;
  border-radius: 0.5rem;

  .header {
    display: flex;
    padding: 2rem 2rem 1rem 2rem;
    align-items: center;
    justify-content: space-between;
    .user-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      img {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        border-radius: 50%;
        align-items: center;
        object-position: center;
      }

      span {
        font-weight: 600;
      }
    }
  }

  .content {
    padding: 1rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img {
      display: block;
      margin: 0 auto;
      width: 33rem;
      height: 30rem;
      object-fit: cover;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }

  .activity {
    display: flex;
    align-items: center;
    // gap: 2rem;
    justify-content: space-between;
    width: 30rem;
    margin: 0 auto;
    margin-top: 1rem;

    .activity-icon {
      font-size: 2rem;
      color: grey;
      cursor: pointer;
      &:hover {
        color: black;
      }
    }

    .like-share {
      display: flex;
      align-items: center;
      gap: 1rem;

      span {
        color: rgb(66, 66, 66);
      }

      .activity-info {
        display: flex;
        align-items: center;
        gap: 0.2rem;
      }
    }
  }
}
