.rightBar {
  flex: 3;
  position: sticky;
  top: 5rem;
  height: calc(100vh - 9rem);
  .container {
    .menu-top {
      display: flex;
      flex-direction: column;
      background-color: white;
      width: 100%;
      gap: 0.6rem;
      padding: 2rem;
      height: 14.5rem;
      border-radius: 0.5rem;
      @media screen and (max-width: 1200px) {
        height: 18rem;
      }
      span {
        color: rgb(169, 169, 169);
        text-align: center;
        border-bottom: 1px solid lightgray;
        padding-bottom: 1rem;
      }
      .item {
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;

        @media screen and (max-width: 1200px) {
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;

          button {
            width: 7.5rem;
          }
        }
        .user {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          cursor: pointer;

          img {
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
          }
          span {
            color: black;
            border: none;
            padding: 0;
          }
        }
        button {
          padding: 0 1rem;
          height: 1.85rem;
          border: none;
          background-color: rgb(44, 139, 248);
          color: white;
          border-radius: 0.5rem;
          transition: all 0.2s ease-out;
          cursor: pointer;
          &:hover {
            background-color: rgb(27, 109, 203);
          }
        }
      }
    }

    .menu-bottom {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      background-color: white;
      width: 100%;
      gap: 1rem;
      padding: 0 2rem 2rem 2rem;
      height: calc(100vh - 20rem);
      overflow: scroll;
      border-radius: 0.5rem;
      @media screen and (max-width: 1200px) {
        align-items: center;
        .active-now {
          display: none;
        }
      }

      .title-container {
        position: sticky;
        top: 0;
        background-color: white;
        text-align: center;
        width: 100%;
        padding: 2rem 0;
        height: 10rem;
        z-index: 1;
        border-bottom: 1px solid lightgray;
      }

      span {
        color: rgba(169, 169, 169, 0.734);
      }
      .item {
        display: flex;
        margin-top: 1rem;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .acitve-icon {
          width: 0.6rem;
          height: 0.6rem;
          background-color: limegreen;
          border-radius: 50%;
          position: absolute;
          bottom: 0;
          left: 1.5rem;
        }
        .user {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          cursor: pointer;

          img {
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            border: 2px solid rgb(44, 139, 248);
          }
          span {
            color: black;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
